<% layout("layouts/boilerplate") %>

    <div class="container mt-5 text-center">
        <h1>Welcome to WanderLust</h1>
        <p>Project created by Shoaib Akhtar</p>
        <h6>click <b>Explore</b> or <b></b><i class="fa-regular fa-compass" style="color: #fe424d;"></i></b> icon to explore the website.
        </h6>
    </div>